{% extends 'core/base.html' %}
{% block title %} home {% endblock %}
{% block content %}
  <div class="container mt-5">
    <h1>Welcome to our Stock Trading Website</h1>
    <h2>Register and login to view Trading progress</h2>
    <p>Morbi bibendum tellus vel feugiat ultrices. Integer varius purus sit amet dolor elementum varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec interdum diam eu mauris consequat, ut scelerisque urna dapibus.</p>
    <p>Phasellus ac sem ultricies, condimentum justo id, fringilla justo. Nulla facilisi. Nam tincidunt sapien id elit malesuada, id eleifend est facilisis. Fusce rutrum eros eu purus pharetra, in rutrum lectus facilisis.</p>
  </div>
{% endblock %}

